Dualstack mode support bug

As merged in pull #234, #237, the feature listening the only IPv6 `::` in dualstack mode when no `-s` options specified was added. `create_and_bind()` will try to bind `::` in dualstack mode when `host` is `NULL`.
https://github.com/shadowsocks/shadowsocks-libev/blob/ec91e4f2666c582594f99ac21ffcb0f2076b6849/src/server.c#L352-L382
But when no `-s` options specified, a default address `0.0.0.0` instead of `NULL` will be added to `server_addr[]`.
https://github.com/shadowsocks/shadowsocks-libev/blob/ec91e4f2666c582594f99ac21ffcb0f2076b6849/src/server.c#L1790-L1792
So this feature can't be enabled in any configs!

Actually this bug has been found and issued but ignored (issue #1568). And I reopen this issue in order to make it fixed completely.

I modified the latest code with the patch below. It can make this feature works, but I didn't test in detail.
```patch
diff --git a/src/netutils.c b/src/netutils.c
--- a/src/netutils.c
+++ b/src/netutils.c
@@ -302,6 +302,8 @@ is_ipv6only(ss_addr_t *servers, size_t server_num, int ipv6first)
 {
     int i;
     for (i = 0; i < server_num; i++) {
+        if(!servers[i].host)
+            return 0;
         struct sockaddr_storage storage;
         memset(&storage, 0, sizeof(struct sockaddr_storage));
         if (get_sockaddr(servers[i].host, servers[i].port, &storage, 1, ipv6first) == -1) {
diff --git a/src/server.c b/src/server.c
--- a/src/server.c
+++ b/src/server.c
@@ -1788,7 +1788,7 @@ main(int argc, char **argv)
     }

     if (server_num == 0) {
-        server_addr[server_num++].host = "0.0.0.0";
+        server_addr[server_num++].host = NULL;
     }

     if (server_num == 0 || server_port == NULL
```
In my opinion, binding `::` in dualstack mode is useful and it should not be removed. But passing a `NULL` host may cause some problems unknown. Maybe a new option (eg: `--dualstack`) is needed.

### What version of shadowsocks-libev are you using?
shadowsocks-libev 3.3.1

### What operating system are you using?
Ubuntu 18.04 LTS, Linux 4.15.0-62-generic

### What did you do?
ss-server -p 8388 -k 12345678  -v

### What did you expect to see?
```bash
$ sudo netstat -lntp | grep 8388
tcp6       0      0 :::8388                 :::*                LISTEN      ss-server
```

### What did you see instead?
```bash
$ sudo netstat -ltnp | grep 8388
tcp        0      0 0.0.0.0:8388            0.0.0.0:*           LISTEN      ss-server
```

Thanks!

Try `ss-server -s 0.0.0.0 -s ::0`.

## **It's NOT my expectation!**
@madeye , really disappointing about your reply. Could you please read my issue carefully?
The `ss-server -s 0.0.0.0 -s ::0 -p 8388 -k 12345678 -v` got the output:
```bash
$ sudo netstat -ltnp | grep 8388
tcp        0      0 0.0.0.0:8388            0.0.0.0:*           LISTEN      ss-server
tcp6       0      0 :::8388                 :::*                LISTEN      ss-server
```
## The dualstack mode is binding the ONLY `::` to interoperate with BOTH IPv4 and IPv6 connections. Please read section 3.7 in [RFC3494](https://tools.ietf.org/html/rfc3493#section-3.7)
And I think it's necessary to mention the author of pull #234 #237 @KrazyIvan- :)

The behavior is expected.

Feel free to modify the code, if you want other behavior.